body {
    padding: 5px;
    background-attachment: fixed;
    background-color: white;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 63vh;
    width: 95vw;
}

.chart-container:fullscreen {
    background-color: white;
}

.control {
    position: relative;
    margin: auto;
    width: auto;
    overflow: hidden;
    display: inline-block;
    text-align: left;
}

.control fieldset {
    max-width: 47%;
    float: left;
}

.float-left {
    float: left;
}

#addDataset {
    display: none;
}

#rmDataset {
    display: none;
}

.controls {
    float: right;
    max-width: 10pc;
}

.controls input {
    width: 9pc;
    margin: 2px;
}

fieldset {
    height: 8pc;
}

.top-container {
    text-align: center;
}