body {
    padding: 5px;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 60vh;
    width: 80vw;
}

.control {
    position: relative;
    margin: auto;
    width: 99vw;
}

.control fieldset {
    max-width: 47%;
    float: left;
}

.float-left {
    float: left;
}

#addDataset {
    display: none;
}

#rmDataset {
    display: none;
}

.controls {
    float: right;
    max-width: 10pc;
}

.controls input {
    width: 9pc;
    margin: 2px;
}

fieldset {
    height: 8pc;
}